.list {
    border: 1px solid #000;
    overflow: hidden;
    margin-top: 15px;
}

.list-row {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border-top: 1px solid #000;
}

.header.list-row {
    border-top: none;
}

.list-row .column {
    padding: 5px;
    flex: 0 1 auto;
    /*border-left: 1px solid #000;*/
}
